
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fazer Apostas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Fazer Apostas</h2>
            <form method="post" action="{% url 'fazer_apostas' %}" class="mb-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Fazer Apostas</button>
            </form>
        </div>
    </div>

    {% if form.is_valid and num_comb %}
        <div class="row">
            <div class="col-md-6">
                <h3 class="mt-4">Combinações Aleatórias Geradas:</h3>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Combinação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aposta in num_comb %}
                            <tr>
                                <td>{{ aposta }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</body>
</html>
